# MADSci dependencies
-e ./forks/opentrons
git+https://github.com/AD-SDL/ur_module.git
git+https://github.com/AD-SDL/ot2_module.git
pandas
git+https://github.com/AD-SDL/pf400_module.git
madsci-client==0.6.0
madsci-common==0.6.0
madsci-node-module==0.6.0

# Shared
zmq
