name: scaling-mvp

# Common configuration
x-madsci-service: &madsci-service
  image: ghcr.io/ad-sdl/madsci:v0.6.0
  environment:
    - USER_ID=${USER_ID:-1000}
    - GROUP_ID=${GROUP_ID:-1000}
  network_mode: host
  volumes:
    - ./config:/home/madsci/config
    - ./.madsci:/home/madsci/.madsci
  restart: unless-stopped
  working_dir: /home/madsci/config

services:
  # Separate MongoDB per workcell (non-persistent)
  mongodb_0:
    container_name: mongodb_0
    image: mongo:8.0
    restart: unless-stopped
    ports:
      - 27017:27017

  mongodb_1:
    container_name: mongodb_1
    image: mongo:8.0
    restart: unless-stopped
    ports:
      - 27018:27017

  mongodb_2:
    container_name: mongodb_2
    image: mongo:8.0
    restart: unless-stopped
    ports:
      - 27019:27017

  mongodb_3:
    container_name: mongodb_3
    image: mongo:8.0
    restart: unless-stopped
    ports:
      - 27020:27017

  mongodb_4:
    container_name: mongodb_4
    image: mongo:8.0
    restart: unless-stopped
    ports:
      - 27021:27017

  # Shared databases
  redis:
    container_name: redis
    image: redis:7.4
    restart: unless-stopped
    ports:
      - 6379:6379

  postgres:
    container_name: postgres
    image: postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_USER=madsci
      - POSTGRES_PASSWORD=madsci
      - POSTGRES_DB=resources
    ports:
      - 5432:5432

  # Shared managers
  event_manager:
    <<: *madsci-service
    container_name: event_manager
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - MONGODB_URL=mongodb://localhost:27017
    command: python -m madsci.event_manager.event_server
    depends_on:
      - mongodb_0

  lab_manager:
    <<: *madsci-service
    container_name: lab_manager
    image: ghcr.io/ad-sdl/madsci_dashboard:v0.6.0
    command: python -m madsci.squid.lab_server
    depends_on:
      - event_manager

  experiment_manager:
    <<: *madsci-service
    container_name: experiment_manager
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - MONGODB_URL=mongodb://localhost:27017
    command: python -m madsci.experiment_manager.experiment_server
    depends_on:
      - mongodb_0
      - lab_manager

  resource_manager:
    <<: *madsci-service
    container_name: resource_manager
    command: python -m madsci.resource_manager.resource_server
    depends_on:
      - postgres
      - event_manager

  location_manager:
    <<: *madsci-service
    container_name: location_manager
    command: python -m madsci.location_manager.location_server
    depends_on:
      - redis
      - event_manager
      - resource_manager

  data_manager:
    <<: *madsci-service
    container_name: data_manager
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - MONGODB_URL=mongodb://localhost:27017
    command: python -m madsci.data_manager.data_server
    depends_on:
      - mongodb_0
      - event_manager

  # Per-workcell managers
  workcell_manager_0:
    <<: *madsci-service
    container_name: workcell_manager_0
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - WORKCELL_DEFINITION=workcell_0.yaml
      - MONGODB_URL=mongodb://localhost:27017
    command: python -m madsci.workcell_manager.workcell_server --cold_start_delay 0 --server_url http://localhost:8015/
    depends_on:
      - mongodb_0
      - redis
      - postgres
      - event_manager
      - resource_manager
      - location_manager

  workcell_manager_1:
    <<: *madsci-service
    container_name: workcell_manager_1
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - WORKCELL_DEFINITION=workcell_1.yaml
      - MONGODB_URL=mongodb://localhost:27018
    command: python -m madsci.workcell_manager.workcell_server --cold_start_delay 0 --server_url http://localhost:8025/
    depends_on:
      - mongodb_1
      - redis
      - postgres
      - event_manager
      - resource_manager
      - location_manager

  workcell_manager_2:
    <<: *madsci-service
    container_name: workcell_manager_2
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - WORKCELL_DEFINITION=workcell_2.yaml
      - MONGODB_URL=mongodb://localhost:27019
    command: python -m madsci.workcell_manager.workcell_server --cold_start_delay 0 --server_url http://localhost:8035/
    depends_on:
      - mongodb_2
      - redis
      - postgres
      - event_manager
      - resource_manager
      - location_manager

  workcell_manager_3:
    <<: *madsci-service
    container_name: workcell_manager_3
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - WORKCELL_DEFINITION=workcell_3.yaml
      - MONGODB_URL=mongodb://localhost:27020
    command: python -m madsci.workcell_manager.workcell_server --cold_start_delay 0 --server_url http://localhost:8045/
    depends_on:
      - mongodb_3
      - redis
      - postgres
      - event_manager
      - resource_manager
      - location_manager

  workcell_manager_4:
    <<: *madsci-service
    container_name: workcell_manager_4
    environment:
      - USER_ID=${USER_ID:-1000}
      - GROUP_ID=${GROUP_ID:-1000}
      - WORKCELL_DEFINITION=workcell_4.yaml
      - MONGODB_URL=mongodb://localhost:27021
    command: python -m madsci.workcell_manager.workcell_server --cold_start_delay 0 --server_url http://localhost:8055/
    depends_on:
      - mongodb_4
      - redis
      - postgres
      - event_manager
      - resource_manager
      - location_manager
